<article class="article-card">
  {{ with .Params.image }}
  <div class="article-card__image">
    <a href="{{ $.Permalink }}">
      <img src="{{ . }}" alt="{{ $.Params.image_alt | default $.Title }}" loading="lazy" width="640" height="360">
    </a>
  </div>
  {{ end }}
  <div class="article-card__body">
    {{ with .Params.categories }}
    <div class="article-card__category">{{ index . 0 | humanize }}</div>
    {{ end }}
    <h3 class="article-card__title">
      <a href="{{ .Permalink }}">{{ .Title }}</a>
    </h3>
    {{ with .Description }}
    <p class="article-card__excerpt">{{ . | truncate 160 }}</p>
    {{ end }}
    <div class="article-card__meta">
      <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "02.01.2006" }}</time>
      {{ with .Params.author }}
      <span>{{ . | humanize }}</span>
      {{ end }}
      <span>{{ math.Round (div (countwords .Content) 200.0) }} min czytania</span>
    </div>
  </div>
</article>
