{{- if .IsPage -}}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Article",
  "headline": {{ .Title | jsonify }},
  "description": {{ .Description | default "" | jsonify }},
  "url": {{ .Permalink | jsonify }},
  "datePublished": "{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}",
  "dateModified": "{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" }}",
  "inLanguage": "pl",
  {{- with .Params.image }}
  "image": {
    "@type": "ImageObject",
    "url": {{ . | absURL | jsonify }},
    "width": 1376,
    "height": 768
  },
  {{- end }}
  {{- with .Params.author }}
  {{- $author := $.Site.GetPage (printf "/autor/%s" .) }}
  {{- if $author }}
  "author": {
    "@type": "Person",
    "name": {{ $author.Title | jsonify }},
    "url": {{ $author.Permalink | jsonify }}
    {{- with $author.Params.avatar }},
    "image": {{ . | absURL | jsonify }}
    {{- end }}
    {{- with $author.Params.role }},
    "jobTitle": {{ . | jsonify }}
    {{- end }}
  },
  {{- end }}
  {{- end }}
  "publisher": {
    "@type": "Organization",
    "name": {{ .Site.Title | jsonify }},
    "url": {{ .Site.BaseURL | jsonify }},
    "logo": {
      "@type": "ImageObject",
      "url": {{ "/images/og-default.jpg" | absURL | jsonify }}
    }
  },
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": {{ .Permalink | jsonify }}
  },
  {{- with .CurrentSection }}
  "articleSection": {{ .Title | jsonify }},
  {{- end }}
  "wordCount": {{ countwords .Content }}
}
</script>
{{- end -}}
