{{- $schema := dict
  "@context" "https://schema.org"
  "@type" "Person"
  "name" .Title
  "url" .Permalink
-}}
{{- with .Params.role -}}
  {{- $schema = merge $schema (dict "jobTitle" .) -}}
{{- end -}}
{{- with .Params.bio -}}
  {{- $schema = merge $schema (dict "description" (. | truncate 250)) -}}
{{- end -}}
{{- with .Params.avatar -}}
  {{- $schema = merge $schema (dict "image" (. | absURL)) -}}
{{- end -}}
{{- with .Params.sameAs -}}
  {{- $schema = merge $schema (dict "sameAs" .) -}}
{{- end -}}
<script type="application/ld+json">
{{ $schema | jsonify | safeJS }}
</script>
