{{/* Expert insight box – usage: {{% expert name="Kowalczyk" %}}Treść{{% /expert %}} */}}
{{ $name := .Params.name | default "Ekspert" }}
{{ $fullName := $name }}
{{ if eq $name "Kowalczyk" }}{{ $fullName = "Marek Kowalczyk" }}{{ end }}
{{ if eq $name "Zieliński" }}{{ $fullName = "Tomasz Zieliński" }}{{ end }}
{{ if eq $name "Wóźniak" }}{{ $fullName = "Anna Wóźniak" }}{{ end }}
<div class="expert-box">
  <div class="expert-box__header">
    <div class="expert-box__icon">
      <span class="material-symbols-outlined">psychology</span>
    </div>
    <div>
      <span class="expert-box__label">Opinia eksperta</span>
      <span class="expert-box__name">{{ $fullName }}</span>
    </div>
  </div>
  <div class="expert-box__content">
    {{ .Inner | markdownify }}
  </div>
</div>
